* {
	font-size: 20px;
	font-family: Firacode Nerd Font;
	border-radius: 0;

}

window#waybar {
    background-color: transparent;
    color: #8dd7fe;
    transition-property: background-color;
	transition-duration: .5s;
	
	}

#workspaces {
    border: 2px solid #4D4D4D;
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
  box-shadow: inset 0 -3px #2E92C5;
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
	border-radius: 5px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}


#network,
#cpu {
box-shadow: inset 0 -3px #cba6f7;
background: #1a1a1a;
border-radius: 5;
}

#pulseaudio,
#backlight,
#battery {
	background: #1a1a1a;
	box-shadow: inset 0 -3px #4BD7BA;
	border-radius: 5;
}

#tray {
background: #1a1a1a;
box-shadow: inset 0 -3px #4BD7BA;
border-radius: 5;
margin-right: 15px;
}


#pulseaudio {
	color: #268bd2;
}

#clock{
background: #1e1e2e;
border-radius: 10;
color: #b58900;
box-shadow: inset 0 -3px #8dd7fe;
}

#network {
	color: #4BD7BA;
}

#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}

#bluetooth{
    color: #cba6f7;
}

#backlight {
color: #FBAD13;
}

#language {
background: #1e1e2e;
box-shadow: inset 0 -3px #cba6f7;
border-radius: 5;
}

#clock,
#pulseaudio,
#language,
#cpu,
#window,
#tray,
#backlight,
#network,
#battery {
	padding: 0 10px;
}
